<div class="container mt-5">
<form action="/user/register" method="POST">
<label for="name">Name</label>
    <input id="name" class="form-control mb-5" type="text" name="name">

<label for="email">Email</label>
    <input id="email" class="form-control mb-5" type="text" name="email">

<label for="city">City</label>
    <input id="city" class="form-control mb-5" type="text" name="city">
    <button class="btn" type="submit">Register</button>
</form>
</div>