<div class="container">
{{#each user}}
<form action="/user/update/{{id}}" method="POST">
    <input class="form-control mb-5" type="text" name="name" value={{name}}>
    <input class="form-control mb-5" type="text" name="email" value={{email}}>
    <input class="form-control mb-5" type="text" name="city" value={{city}}>
    <button class="btn" type="submit">Save</button>
</form>
{{/each}}
</div>
